@import '../../../../styles.scss';

.header {
    display: flex;
    align-items: center;
    background: linear-gradient(90deg, $light-magenta, $dark-magenta);
    justify-content: space-between;
    p {
        font-weight: 200;
        span {
            img {
                vertical-align: middle;
            }
        }
    }
    img {
        max-height: 28px;
    }

    .icon-left {
        width: 60px;
        border-radius: 100%;
        cursor: pointer;
        i {
            vertical-align: middle;
            margin-left: 10px;
            font-size: 40px;
            transition: 200ms ease-out;
        }
        &:hover>i {
            color: rgba(0, 0, 0, 0.3);
        }
    }

    .user-button {
        font-size: 18px;
        font-weight: 300;
    }
}