@import '../../../../styles.scss';

.space-between {
    justify-content: space-between;
}
.centered {
    justify-content: center;
}
.header {
    display: flex;
    align-items: center;
    background: linear-gradient(90deg, $blue, $dark-blue);
    p {
        font-weight: 200;
        span {
            img {
                vertical-align: middle;
            }
        }
    }
    img {
        cursor: pointer;
        max-height: 28px;
    }

    .user-button {
        font-size: 18px;
        font-weight: 300;
        color: $snow;
    }
}