@import '../../../../styles.scss';

.footer {
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 10%;
    background-color: $gray;
    color: $snow;
    span:first-child {
        margin-top: 20px;
    }

    p {
        font-weight: 200;
        font-size: 18px;
        span {
            font-weight: 500;
            span {
                color: $blue;
            }
        }
    }
}