/* You can add global styles to this file, and also import other style files */

$light-red: #ed4545;
$dark-blue: #0b104a;
$purple: #42187c;
$dark-red: #6c0b0a;
$light-green: #65cb45;
$dark-green: #043e08;
$snow: #ececec;
$gray: #363636;
$dark-gray: #262626;
$light-magenta: #cf4966;
$dark-magenta: #6a002d;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: $snow;}

