<div *ngIf="page === 'register'">
    <h2>Sign up</h2>
    <hr>
    <form>
        <mat-form-field appearance="fill" class="form-input">
            <mat-label>Email</mat-label>
            <input type="email" placeholder="Ex.: usuario@gmail.com" matInput [(ngModel)]="email" name="email">
        </mat-form-field>
        <mat-form-field appearance="fill" class="form-input">
            <mat-label>Nome</mat-label>
            <input type="text" placeholder="Ex.: usuario123" matInput [(ngModel)]="name" name="name">
        </mat-form-field>
        <mat-form-field appearance="fill" class="form-input">
            <mat-label>Senha</mat-label>
            <input [type]="hide ? 'text' : 'password' " placeholder="Ex.: sjaiofod2094" matInput [(ngModel)]="password" name="password">
            <button mat-icon-button matSuffix (click)="hide = !hide" type="button">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <mat-form-field appearance="fill" class="form-input">
            <mat-label>Confirmação de senha</mat-label>
            <input type="password" matInput [(ngModel)]="confirmPassword" name="confirmPassword">
        </mat-form-field>
        <span class="submit-button">
            <button mat-raised-button type="button" (click)="createUser()">Sign up</button>
        </span>
        <a class="change-link" (click)="changePage('login')">Já possui uma conta? Faça o login</a>
    </form>
</div>
<div *ngIf="page === 'login'">
    <h2>Login</h2>
    <hr>
    <form>
        <mat-form-field appearance="fill" class="form-input">
            <mat-label>Email</mat-label>
            <input type="email" placeholder="Ex.: usuario@gmail.com" matInput [(ngModel)]="email" name="email">
        </mat-form-field>
        <mat-form-field appearance="fill" class="form-input">
            <mat-label>Senha</mat-label>
            <input [type]="hide ? 'text' : 'password' " placeholder="Ex.: sjaiofod2094" matInput [(ngModel)]="password" name="password">
            <button mat-icon-button matSuffix (click)="hide = !hide" type="button">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <span class="submit-button">
            <button mat-raised-button type="button" (click)="login()">Login</button>
        </span>
        <a class="change-link" (click)="changePage('register')">Não possui uma conta? Registre-se aqui</a>
    </form>
</div>