<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav mat-elevation-z4" mode="side" opened fixedInViewport="true" fixedTopGap="64">
        <div>
            <i class="material-icons search-icon">
                search
            </i>
            <mat-form-field class="search-input">
                <input placeholder="Search for categories" matNativeControl>
            </mat-form-field>
        </div>
        <mat-nav-list class="nav-list">
            <a>
                Item 1
            </a>
            <a>
                Item 1 - 1
            </a>
            <a>
                Item 2
            </a>
            <a>
                Item 3
            </a>
        </mat-nav-list>
    </mat-sidenav>
</mat-sidenav-container>